In [ ]:
import pyodbc
import pandas as pd

In [18]:
print(pyodbc.drivers())

['SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)', 'ODBC Driver 18 for SQL Server']

In [19]:
#Benutzerdaten einfügen :)

conn = pyodbc.connect(
    "DRIVER={ODBC Driver 18 for SQL Server};"
    "SERVER=10.0.30.16,1433;"
    "DATABASE=RTID_SourceData;"   
    "UID=;"
    "PWD=;"
    "Connection Timeout=5;"
    "TrustServerCertificate=yes"
)

In [20]:
def get_columns(table_name):
    query = """
        SELECT COLUMN_NAME, DATA_TYPE
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE TABLE_NAME = ?
    """
    conn.execute(query, (table_name,))
    columns = conn.fetchall()
    print(f"Columns in {table_name}:")
    for col in columns:
        print(f"  {col.COLUMN_NAME} ({col.DATA_TYPE})")

In [21]:
## List tables
with conn.cursor() as cur:
    sql = """
    SELECT TABLE_SCHEMA, TABLE_NAME
    FROM INFORMATION_SCHEMA.TABLES
    WHERE TABLE_TYPE = 'BASE TABLE'
    """
    cur.execute(sql)
    
    rows = cur.fetchall()

for schema, table in rows:
    print(f"{schema}.{table}")

SPGM_DSS.HYUNDAI_DS_NVR_APPEND_HISTORY
SPGM_Reg.US_HY_NVR_TEST_2023_2025_REDO
SPGM_RAI.Retail_Advertised_Inventory_2025

In [22]:
# how many rows total?
row_count = pd.read_sql("SELECT COUNT(*) n FROM SPGM_DSS.HYUNDAI_DS_NVR_APPEND_HISTORY", conn)['n'][0]

pd.read_sql("""
    SELECT TOP 2 *
    FROM [SPGM_DSS].[HYUNDAI_DS_NVR_APPEND_HISTORY]
""", conn)

C:\Users\Louis\AppData\Local\Temp\ipykernel_6968\3266647743.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  row_count = pd.read_sql("SELECT COUNT(*) n FROM SPGM_DSS.HYUNDAI_DS_NVR_APPEND_HISTORY", conn)['n'][0]
C:\Users\Louis\AppData\Local\Temp\ipykernel_6968\3266647743.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("""

,SALE_TYPE,SEGMENT,MAKE,MODEL,VEH_MDL_YR,MODEL_KEY_SHORT,SERIES,ENHANCED_VEH_DESC,DRIVE_TYPE,FUEL_TYPE,...,DEALER_FLAG,NV_REG_FILE_RECEIVE_DATE,NV_REG_REP_YEAR_MONTH,NV_REG_CUST_SALES_DATE,NV_REG_SELLING_DEALER,NV_REG_DLR_ID,NV_REG_CENSUS_TRACT,NV_REG_MODEL_KEY_SHORT,NV_REG_SERIES,NV_REG_ENHANCED_VEH_DESC
0,(01) TOTAL - Less Returns (2+6+11),LARGE MPV,FORD,TRANSIT VAN,2023,128352,T-350,T350 XL,REAR WHEEL DRIVE,GASOLINE,...,N,2024-04-16 09:15:22,202404,2024-10-04,TED BRITT CHANTILLY FORD,0209393,5151059431802,128352,T35,
1,(01) TOTAL - Less Returns (2+6+11),LARGE MPV,FORD,TRANSIT VAN,2023,128352,T-350,T350 XL,REAR WHEEL DRIVE,GASOLINE,...,N,2024-04-16 09:15:22,202404,2024-10-04,TED BRITT CHANTILLY FORD,0209393,5151059431802,128352,T35,